

.container {
    display: flex;
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
}


.dummy{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 60px;
    justify-content: center;
    margin-top: 300px;
}

.btn-wrapper {
    margin-top: 100px;
}

button {
    margin-top: 30px;
    height: 50px;
    width: 120px;
    font-size: 14px;
    background-color: white;
    border: #B7CE63 solid 1px;
    border-radius: 5px;
}